# dependencies
node_modules
.pnpm-store

# builds
.next
dist
coverage
.turbo
out
build
*.tsbuildinfo
release
apps/desktop/release
apps/desktop/api-runtime
apps/web/android/.gradle
apps/web/android/app/build
apps/web/ios/App/App/public

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/dev.db

# logs
*.log

# packaged artifacts
release-artifacts/*.exe
release-artifacts/*.blockmap
release-artifacts/*.apk
release-artifacts/*.zip
release-artifacts/latest.yml

# editors
.idea
.vscode

# OS files
Thumbs.db
.DS_Store

# local helper files
aion_extracted.txt
tmp_pdf_extract.ps1
